body {
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  background-color: white;
  margin: 50px;
  border-radius: 5px;
  padding: 25px;
}

.row {
  padding: 5px;
  margin-bottom: 5px;
}





input {
  background-color: white;
  border: 1px solid white;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-radius: 5px;
  margin-top: 5px;
  height: 20px;
}

.prob {
  width: 30px;
  margin: 0 10px 0 10px;
}

.notes {
  width: 50px;
}

.nexts, .import {
  width: 75px;
  margin: 5px;
}





.label {
  display: inline-block;
  text-align: center;
  width: 60px;
}

.synth-probs {
  display: inline-block;
}

.bpm-slider {
  float: left;
  margin-right: 15px;
}

.key-select {
  float: left;
  margin-right: 15px;
}

.one-beat {
  /*background-color: lightgreen;*/
}

.cf {
  clear: both;
}
