.prob {
  width: 24px;
  margin: 0 13px 0 13px;
  height: 25px;
}

.notes {
  width: 50px;
  height: 25px;
}

.label {
  display: inline-block;
  text-align: center;
  width: 75px;
}

.synth-probs {
  display: inline-block;
}

.marker {
  width: 50px;
  height: 25px;
  float: left;
  border: 2px inset;
  padding: 1px;
}

.one-beat {
  background-color: lightgray;
}

.active {
  background-color: lightgreen;
}

.inactive {
  color: white;
  background-color: maroon;
}

.cf {
  clear: both;
}