body {
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;

}

.container{
  background-color: white;
  margin: 50px;
  border-radius: 5px;
  padding: 25px;
}

.row {
  padding: 5px;
  margin-bottom: 5px;
}

.super-center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
.super-simple {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 70%;
  }
  .layover {
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
    overflow-x: auto;
    overflow-y: auto;
    padding: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: justify;
  }



input {
  background-color: white;
  border: 1px solid white;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-radius: 5px;
  margin-top: 5px;
  height: 20px;
}

.prob {
  width: 30px;
  margin: 0 10px 0 10px;
}

.notes {
  width: 50px;
}

.nexts, .import {
  width: 75px;
  margin: 5px;
}





.label {
  display: inline-block;
  text-align: center;
  width: 60px;
}

.synth-probs {
  display: inline-block;
}

.bpm-slider {
  float: left;
  margin-right: 15px;
}

.key-select {
  float: left;
  margin-right: 15px;
}

.one-beat {
  /*background-color: lightgreen;*/
}

.cf {
  clear: both;
}

.soundboard {
  border: 1px solid red;
}

.sample {

  border: 1px solid blue;
}